<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Item Title: </th>
      <th scope="col">Item Genre</th>
      <th scope="col">Go to Details</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of itemList">
      <th scope="row">{{item.id}}</th>
      <td>{{item.title}}</td>
      <td>{{item.genre}}</td>
      <td><button type="button" class="btn btn-primary" routerLink="/detail/{{item.id}}">Detail</button></td>
    </tr>
  </tbody>
</table>

